* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;   
}

.subheader {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
}

.subheader .subheader_logo {
    display:block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_official {
    margin-top: 6px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call {
    margin-top: 19px;
    text-align: right;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}

.subheader .subheader_nummber {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border:none;
    border-radius: 6px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url(../img/bg/car_door_bg.jpg) center center/cover no-repeat;
    padding: 151px 0 131px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {    
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 20px;
    text-align: center;
}

.promo .promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align:center;
    margin-top: 24px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius:6px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.reason {
    padding: 71px 0 65px 0;
}

.reason .reason_title { 
    margin: 0 auto;
    width: 112px;
    height: 24px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

}

.reason .reason_header {
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 38px;
}

.reason_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reason .reason_block .reason_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reason .reason_block .reason_dsrc {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    width:343px;
}

.reason .reason_block .reason_dsrc .reason_subtitle {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reason .reason_block .reason_dsrc .reason_text {
    font-weight: 300;
}
